#venue-box {
  display: grid;
  width: 100%;
  border: 1px solid green;
  align-items: center;
  width: fit-content;
}

.mini-venue-card {
  grid-row: 1;
  display: inline-block;
  text-align: center;
  margin: 0 auto;
  border: 1px solid #4980d9;
  padding: 10px;
}
