$sub-color: grey;
$main-color: black;

.main-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 80px;
}

.trip-accordions {
  width: 50vw;
  min-width: 600px;
}

.panel-header {
  background-color: #4980d9;
}

.addtrip {
  margin-top: 20px;
  text-align: center;
}

img {
  width: 90px;
  height: 90px;
  object-fit: contain;
  border-radius: 3px;
}

span {
  display: block;
}

.trip-description {
  text-align: center;
  margin-bottom: 20px;
}

.form-input {
  background: none;
  background-color: white;
  color: $sub-color;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid $sub-color;
  margin: 25px 0;

  &:focus {
    outline: none;
  }
}
