.container {
  margin: 0 auto;
  width: 85vw;
  max-width: 1000px;
  display: grid;
  grid-template-columns: 0.9fr 1.1fr 1fr;
  grid-template-rows: 1fr 0.5fr;
  gap: 10px 10px;
  grid-template-areas:
    "map-list map-display map-display"
    "saved-venues saved-venues saved-venues"
    ". . .";
}

.saved-venues {
  border-radius: 0px 0px 20px 20px;
  border: 1px solid grey;
  padding: 10px;
  grid-area: saved-venues;
}

.map-list {
  border-radius: 20px 0px 0px;
  border: 1px solid grey;
  padding: 10px;
  grid-area: map-list;
  min-width: 215px;
}

.map-display {
  border-radius: 0px 20px 0px 0px;
  border: 1px solid grey;
  grid-area: map-display;
  overflow: hidden;
}
