#venue-box {
  padding: 2px;
  // border: 1px solid red;
  display: grid;
  align-items: center;
  width: fit-content;
  align-items: end;
  grid-gap: 5px;
}

.mini-venue-card {
  background-color: rgba(0, 0, 0, 0.03);
  border-radius: 3px;
  grid-row: 1;
  display: inline-grid;
  text-align: center;
  margin: 0 auto;
  border: 1px solid rgba(185, 185, 185, 0.644);
  width: 10rem;
  height: 12em;
  padding: 10px;
  justify-items: center;
  align-items: end;
}

.thumbnail {
  background-color: black;
  width: 120px;
  height: 120px;
  display: inline-block; /* makes it fit in like an <img> */
  background-size: cover; /* or contain */
  background-position: center center;
  background-repeat: no-repeat;
}

.venue-title {
  font-size: 14px;
  max-width: -webkit-fill-available;
  height: -webkit-fill-available;
  border: 1px solid green;
}
