.search {
  position: absolute;
  // top: 8rem;
  // /* left: 38%; */
  // transform: translateX(-115%);
  // /* width: 100%; */
  // max-width: 400px;
  // // z-index: 10;
  // display: flex;
  z-index: 10;
}

.search-form {
  position: relative;
  top: 15px;
  left: 30px;
}
