.search {
  position: absolute;
  // top: 8rem;
  // /* left: 38%; */
  // transform: translateX(-115%);
  // /* width: 100%; */
  // max-width: 400px;
  // // z-index: 10;
  // display: flex;
  z-index: 10;
}

.search-form {
  position: relative;
  top: 15px;
  left: 30px;
  height: 30px;
}

.comboboxinput {
  height: 40px;
  padding: 5px;
  font-size: 16px;
  border: 3px solid #4980d9;
  width: 25em
  // line-height: 2;
}
